{% extends "layout.html" %}
{% load static from staticfiles %}

{% block content %}
  <h1 class="mineral__name">{{ mineral.name }}</h1>
  <div class="mineral__image-bg">
    {% with 'images/'|add:mineral.name|add:'.jpg' as mineral_image %}
      <img class="mineral__image" src="{% static mineral_image %}">
    {% endwith %}
    <p class="mineral__caption">{{ mineral.caption }}</p>
  </div>
  <div class="mineral__table-container">
    <table class="mineral__table">
      <tr>
        <td class="mineral__category">Category</td>
        <td>{{ mineral.category }}</td>
      </tr>
      <tr>
        <td class="mineral__category">Formula</td>
        <td class="mineral__formula">{{ mineral.formula|safe }}</td>
      </tr>
      <tr>
        <td class="mineral__category">Strunz Classification</td>
        <td>{{ mineral.strunz_classification }}</td>
      </tr>
      <tr>
        <td class="mineral__category">Unit Cell</td>
        <td>{{ mineral.unit_cell }}</td>
      </tr>
      <tr>
        <td class="mineral__category">Color</td>
        <td>{{ mineral.color }}</td>
      </tr>
      <tr>
        <td class="mineral__category">Crystal Habit</td>
        <td>{{ mineral.crystal_habit }}</td>
      </tr>
      <tr>
        <td class="mineral__category">Mohs Scale Hardness</td>
        <td>{{ mineral.mohs_scale_hardness }}</td>
      </tr>
    </table>
  </div>
{% endblock %}
