{% extends "layout.html" %}
{% load static from staticfiles %}
{% load mineral_extras %}

{% block content %}
  <h1 class="mineral__name">{{ mineral.name }}</h1>
  <div class="mineral__image-bg">
    {% with 'images/'|add:mineral.name|add:'.jpg' as mineral_image %}
      <img class="mineral__image" src="{% static mineral_image %}">
    {% endwith %}
    <p class="mineral__caption">{{ mineral.image_caption }}</p>
  </div>
  <div class="mineral__table-container">
    <table class="mineral__table">
      {% for key in field_count.keys %}
        {% if key != 'id' and key != 'image_caption' and key != 'image_filename' and key != 'name' %}
          <tr>
            <td class="mineral__category">{{ key|replace_underscores_with_space|title }}</td>
            <td {% if key is 'formula' %}class="mineral__formula"{% endif %}>
              {{ mineral|get_dict_value:key|safe }}
            </td>
          </tr>
        {% endif %}
      {% endfor %}
    </table>
  </div>
{% endblock %}
